<h2 class="titulo-principal"><%= company.title %></h2>
<div class="textos-paginas">
  <%= show_image(company.cover(:medium)) %>
  <%= simple_format company.description %>
</div><!-- fim .textos-paginas -->